@font-face {
    font-family: Raindondo;
    src: url("Raindondo.otf");
}

body {
    color: #fff;
    font-family: Consolas, monaco, monospace;
    margin: 0;
    background-size: contain;
    background-position: center;
}

.iteratortitle {
    font-family: Raindondo;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    padding-bottom: 50px;
    text-shadow: black 0 0 10px,
    black 0 0 20px,
    black 0 0 50px;
}

#backbutton {
    color: #fff;
    font-size: 10mm;
    text-decoration: none;
}
#backbutton:hover {
    color: #b3b3b3;
}

#mainlogbutton {
    background-color: #fff;
    color: #3f0c0c;
    width: 60%;
    margin: auto;
    padding: 2%;
    position: relative;
    display: block;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s;
}
#mainlogbutton:hover {
    background-color: #919191;
    color: #000000;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.iconrow {
    margin: auto;
    width: 90%;
}
.iconrow img {
    width: 50px;
    image-rendering:pixelated;
    border-radius: 5px;
    transition: filter 0.3s;
}

.iconrow .active, .iconrow img:hover {
    filter: grayscale(100%);
}

.hoplink a{
    margin: auto;
    padding: 10px;
    background: #fff;
    color: #000;
    display: none;
    border-radius: 10px;
}

.smallimg {
    width: 40%;
}

.logicon {
    margin: 0;
    float: left;
    width: 76px;
    margin-left: -30px;
    margin-top: -30px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
    border-radius: 10px;
    z-index: 1;
}

.pearl {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    z-index: 2;
    border-radius: 100%;
    box-shadow: 2px 2px 5px #000;
}
.highlight {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    box-shadow: 10px 10px 10px #00000098;
    z-index: 3;
    border-radius: 100%;
}

.logentries {
    background-size: cover;
    font-size: large;
    list-style: none;
    text-align: center;
    width: 25%;
    height: 100%;
    padding: 2% 0 4% 0;
    float: left;
    position: fixed;
    top: -20px;
    left: 0;
}
.logentries ul {
    background-color: #000000c0;
    width: 80%;
    height: 100px;
    margin: auto;
    border: white 1px solid;
    padding: 10px;
    list-style: none;
    overflow: auto;
    border-radius: 15px 0 0 15px;
}
::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb {
    background-color: #fff;
}
.logentries li{
    text-align: left;
    padding: 0 5%;
}
.logentries h2 {
    margin-bottom: 0;
}

.iteratorimage {
    margin-top: 20px;
    height: 62%;
    filter:drop-shadow(0 0 2px #fff);
}

.logcollection {
    width: 75%;
    float: right;
    padding-top: 2%;
}

.scene {
    width: 50%;
    margin: 0 25%;
    outline: 1px solid #fff;
    box-shadow: 0 0 20px #fff;
    border-radius: 15px;
}

.log {
    margin: 4% auto 2% auto;
    width: 60%;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
}

.entry {
    margin: 2%;
    padding: 2% 4%;
    background:rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 1px solid #fff;
}
#logtext {
    padding: 0 20%;
    margin-top: 5%;
}

#admin {
    color: #acacac;
}
#admin::before {
    content: "[#A]: ";
}

#lmsb {
    color: #ffdb65;
}
#lmsb::before {
    content: "LMSB: ";
}

#GF {
    color: #EE7043;
}
#GF::before {
    content: "GF: ";
}

#product {
    color: #d1c3cd;
}
#product::before {
    content: "[+]: ";
}

#DPS {
    color: #FFC6F0;
}
#DPS::before {
    content: "DPS: ";
}

#LABL {
    color: #849DE8;
}
#LABL::before {
    content: "LABL: ";
}

#JC {
    color: #C9C74A;
}
#JC::before {
    content: "JC: ";
}

#DLS {
    color: #00CAD2;
}
#DLS::before {
    content: "DLS: ";
}

#PC {
    color: #7d96bb;
}
#PC::before {
    content: "PC: ";
}

#title {
    text-align: left;
    font-size: large;
}

@media screen and (max-width: 800px) {
    .logentries, .logcollection {
      width: 100%;
      position: relative;
    }
    .logentries ul {
        height: auto;
        width: 90%;
        border-radius: 25px;
    }
    .logcollection {
        margin-top: -20px;
    }
    .logentries li {
        padding-bottom: 10px;
    }
    .logentries {
        padding-top: 30px;
    }

    .iteratortitle {
        font-size: 20vw;
    }

    .iteratorimage {
        display: none;
    }

    .pearl {
        margin-top: -5px;
        margin-left: 40px;
    }

    .scene {
        width: 95%;
        margin: 2% 2.5%;
    }

    .log {
        width: 100%;
        margin-bottom: 50px;
    }
    #logtext {
        padding: 0;
    }

    .hoplink a{
        display: inline;
    }

    .logicon {
        margin-left: 0;
        margin-top: -10px;
        width: 40px;
    }
}