@font-face {
    font-family: Raindondo;
    src: url("Raindondo.otf");
}

.iteratortitle {
    font-family: Raindondo;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    padding-bottom: 50px;
    text-shadow: black 0 0 10px,
    black 0 0 20px,
    black 0 0 50px;
}

.GF a {
    color: #EE7043;
    text-decoration: none;
}
.GF a:hover {
    color: #c05229;
    text-decoration: underline;
}
.GF a:visited {
    color:rgb(102, 107, 112);
}

.DPS a {
    color: #FFC6F0;
    text-decoration: none;
}
.DPS a:hover {
    color: #e981cd;
    text-decoration: underline;
}
.DPS a:visited {
    color:rgb(173, 96, 82);
}

.LABL a {
    color: #849DE8;
    text-decoration: none;
}
.LABL a:hover {
    color: #4166d4;
    text-decoration: underline;
}
.LABL a:visited {
    color:rgb(123, 102, 136);
}

.JC a {
    color: #C9C74A;
    text-decoration: none;
}
.JC a:hover {
    color: #aca927;
    text-decoration: underline;
}
.JC a:visited {
    color:rgb(121, 121, 121);
}

.DLS a {
    color: #00CAD2;
    text-decoration: none;
}
.DLS a:hover {
    color: #05999e;
    text-decoration: underline;
}
.DLS a:visited {
    color:rgb(206, 187, 78);
}

.iconrow {
    margin: auto;
    width: 90%;
}
.iconrow img {
    width: 50px;
    image-rendering:pixelated;
}

.iconrow .active, .iconrow img:hover {
    filter: grayscale(100%);
}

.GF {
    color: #fff;
    font-family: Consolas, monaco, monospace;
    margin: 0;
    background: linear-gradient(rgba(255, 101, 54, 0.7) 0%, rgba(221, 52, 30, 0.5) 35%, rgba(75, 52, 46, 0.7) 65%, rgba(19, 16, 16, 0.7) 80%), url("gf_background.png");
    background-size: contain;
    background-position: center;
}
.gficon {
    background-color: #EE7043;
    border-radius: 10px;
}

.DPS {
    color: #fff;
    font-family: Consolas, monaco, monospace;
    margin: 0;
    background: linear-gradient(rgba(235, 157, 255, 0.7) 0%, rgba(19, 16, 16, 0.7) 80%);
    background-size: contain;
    background-position: center;
}

.LABL {
    color: #fff;
    font-family: Consolas, monaco, monospace;
    margin: 0;
    background: linear-gradient(rgba(44, 111, 255, 0.7) 0%, rgba(19, 16, 16, 0.7) 80%);
    background-size: contain;
    background-position: center;
}

.JC {
    color: #fff;
    font-family: Consolas, monaco, monospace;
    margin: 0;
    background: linear-gradient(rgba(255, 208, 54, 0.7) 0%, rgba(19, 16, 16, 0.7) 80%);
    background-size: contain;
    background-position: center;
}

.DLS {
    color: #fff;
    font-family: Consolas, monaco, monospace;
    margin: 0;
    background: linear-gradient(rgba(20, 211, 224, 0.7) 0%, rgba(19, 16, 16, 0.7) 80%);
    background-size: contain;
    background-position: center;
}

.hoplink a{
    margin: auto;
    padding: 10px;
    background: #fff;
    color: #000;
    display: none;
    border-radius: 10px;
}

.smallimg {
    width: 40%;
}

.logicon {
    margin: 0;
    float: left;
    width: 76px;
    margin-left: -30px;
    margin-top: -30px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
}

.logentries {
    font-size: large;
    list-style: none;
    text-align: center;
    width: 25%;
    height: 100%;
    padding: 2% 0 4% 0;
    float: left;
    position: fixed;
    top: -20px;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}
.logentries ul {
    width: 80%;
    height: 100px;
    margin: auto;
    border: white 1px solid;
    padding: 10px;
    list-style: none;
    overflow: auto;
    border-radius: 10px;
}
::-webkit-scrollbar {
    background-color: none;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0.3) 1px solid;
}
::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
}
.logentries li{
    text-align: left;
    padding: 0 5%;
}
.logentries h2 {
    margin-bottom: 0;
}

.iteratorimage {
    margin-top: 20px;
    height: 70%;
    filter:drop-shadow(0 0 2px #fff);
}

.logcollection {
    width: 75%;
    float: right;
    padding-top: 2%;
}

.log {
    width: 60%;
    margin: 0 auto 6% auto;
    text-align: center;
    border-radius: 20px;
}
.GF .log {
    border: 1px solid #EE7043;
    background: rgba(238, 112, 67, 0.3);
}

.entry {
    margin: 2%;
    padding: 2% 4%;
    background:rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 1px solid #fff;
}
#logtext {
    padding: 0 20%;
    margin-top: 5%;
}

#admin {
    color: #acacac;
}

#lmsb {
    color: #ffdb65;
}

#GF {
    color: #EE7043;
}

#DPS {
    color: #FFC6F0;
}

#LABL {
    color: #849DE8;
}

#JC {
    color: #C9C74A;
}

#DLS {
    color: #00CAD2;
}

#title {
    text-align: left;
    font-size: large;
}

@media screen and (max-width: 800px) {
    .logentries, .logcollection {
      width: 100%;
      position: relative;
    }
    .logentries ul {
        height: auto;
        width: 90%;
    }
    .logentries li {
        padding-bottom: 10px;
    }

    .iteratortitle {
        font-size: 20vw;
    }

    .iteratorimage {
        display: none;
    }

    .log {
        width: 100%;
    }
    #logtext {
        padding: 0;
    }

    .hoplink a{
        display: inline;
    }

    .iconrow {
        padding-top: 50px;
    }

    .logicon {
        margin-left: 0;
        margin-top: -10px;
        width: 40px;
    }
}